/*
Responsive breakpoints: 480px, 768px, 1024px, and 1280px
*/

@font-face {
  font-family: 'Bellota';
  src: local('Bellota'), url(./assets/fonts/Bellota/Bellota-Regular.ttf) format('truetype');
}
html, body { 
  height:100%; 
  width:100%; 
  overflow:auto;
}
body {
  margin: 0;
  font-family: 'Bellota', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

textarea:focus, input:focus{
  outline: none;
}

a:link {
  text-decoration: none;
}

a{
  color: white;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ccc;
}

a:active {
  text-decoration: none;
}

a:focus{
  outline: none;
}

.clearfix:before,
.clearfix:after {
    content: ".";    
    display: block;    
    height: 0;    
    overflow: hidden; 
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } /* IE < 8 */

@media screen and (max-width: 768px) and (min-width: 480px) {
  html{
    font-size: 15px;
  }
  
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  html{
    font-size: 13px;
  }
  
}