$header-height: 70px;

$base-white: #FFFFFF;
$base-light-gray: #E4EEF1;
$base-blue: #3D9BFF;
$base-dark-blue: #223048;
$base-light-blue: #1b2e4e;
$base-gray: #C4C4C4;
$base-dark-gray: #8D8383;

$primary: #060325;
$green-blue: #156666;

$deep-space :#4A6670;
$winter-green: #668F80;
$english-violet: #3B3355;
$dark-blue-grey: #5D5D81;
$light-steel: #BFCDE0;

$spearmint: #88CDB2;
$teal-green: #2E765E;
$forest-green:#062425;
$blue-grotto:#077AB2;

//#22223b, 4a4e69,c9ada7,f2e9e4
