@import '../../variables.scss';

.autocomplete{
    position: relative;
    z-index: 5;

    .suggestions-list{
        position: absolute;
        background-color: white;
        color: $primary;
        width: 100%;
        font-weight: bold;
        font-size: 0.9rem;

        li{
            padding: 3px;

            &.active, &:hover{
                background-color: $base-light-gray;
                cursor: pointer;
            }
        }
    }
}