@import "../../../variables.scss";

.single-tracker {
    width: 100%;
    margin-top: 10px;
    border: 1px $base-dark-gray solid;
    overflow: hidden;

    &.disabled .single-tracker-top {
        opacity: 0.8;
        pointer-events: none;
    }

    .single-tracker-top-container {
        background-color: $base-light-blue;
        .single-tracker-top {
            /*padding-left: 2%;
            padding-right: 2%;*/
            width: 95%;
            margin: auto;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.2rem;

            .sign {
                font-size: 1.5rem;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    .single-tracker-body {
        height: 0px;
        transition: height 0.5s;
        width: 95%;
        margin: auto;
        overflow: hidden;
        color: $base-gray;

        .separator {
            border-bottom: 1px solid $base-gray;
            margin: 15px auto;
        }

        &.expand {
            height: 520px;
        }

        &.expand.no-data {
            height: 290px;
        }

        .single-tracker-status,
        .single-tracker-alert-status,
        .single-tracker-trigger-price {
            display: flex;
            margin: 5px auto;
            justify-content: flex-start;

            .error-message {
                min-height: 20px;
            }
        }

        .single-tracker-trigger-price{
            input{
                width: 100px;
                height: 19px;
            }
        }

        .single-tracker-label {
            margin-right: 12px;
            width: 150px;
        }

        .no-data {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 130px;

            .no-data-label {
                background-color: $base-light-blue;
                width: 100%;
                height: 95px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .my-tracker-graph {
            .stats-available {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 10px auto;

                .stat {
                    padding: 1px 8px;
                    border-radius: 2px;
                    cursor: pointer;
                    transition: background-color 0.5s;

                    &:hover {
                        background-color: $base-light-blue;
                    }

                    &.selected {
                        background-color: white;
                        font-weight: bold;
                        color: $primary;
                    }
                }
            }
        }
    }
}
