@import '../../../variables.scss';

.letter-case{
    margin: 0 3px;
    height: 100%;
    width: 30px;
    background-color: $base-light-blue;
    background-color: #201D3A;
    border-radius: 2px;
    font-family: sans-serif;
    overflow: hidden;
    position: relative;

    .letter-spinner-container{
        position: absolute;
        top: 0px;
        animation-name: letter-spinner-anim;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-timing-function: linear;
        transition: top 1s;

        .letter-spinner{
            height: 33px;
            width: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }
    }  
}

@keyframes letter-spinner-anim {
    from {top: 0px;}
    to {top: -858px;}
}