@import '../../variables.scss';

#airport-table{
    width: 100%;
    display: flex;
    justify-content: center;

    #nearest-airport{
        display: flex;
        margin: 15px auto;
        align-items: center;
        #letters-slide{
            height: 33px;
            width: 500px;
            display: flex;
            justify-content: center;

            
        }
    }
}
