@import '../../variables.scss';

#airport-table{
    #nearest-airport{
        display: flex;
        margin: 15px auto;
        width: 90%;
        align-items: center;
        #letters-slide{
            height: 33px;
            width: 500px;
            display: flex;
            justify-content: center;

            
        }
    }
}
