@import '../../variables.scss';

#my-trackers{
    min-height: calc(100vh - #{$header-height});
    background-color: $primary;
    color: white;
    padding-top: 1px;
    margin-top: -1px;

    #my-trackers-error{
        min-height: calc(100vh - #{$header-height});
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #my-trackers-loader{
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - #{$header-height});
    }

    #my-trackers-content{
        width: 60%;
        min-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}