@import '../../../variables.scss';


.card{
    
    display: inline-block;
    
    .card-container{
        width: 390px;
        height: 350px;
        margin: auto;
        background-color: #201D3A;
        border: 1px solid #525254;
        position: relative;
        overflow: hidden;

        .top{
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #525254;

            .top-container{
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .middle{
            height: 60px;
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-evenly;

            .info{
                width: 100%;
                font-size: 0.9rem;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

                .container{
                    height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        &.init, .inactive , &.loading{
            .top div{
                width: 80%;
                background-image: linear-gradient(90deg, #303142 0px, rgba(44, 37, 82, 0.8) 40px, #303142 80px);
                background-size: 600px;
                animation: shine-top 2s infinite ease-out;
            }
            
            .middle .info .container{
                
                background-image: linear-gradient(90deg, #303142 0px, rgba(44, 37, 82, 0.8) 40px, #303142 80px);
                background-size: 600px;
                animation: shine-top 2s infinite ease-out;
            }
        }
    }
}


@keyframes shine-top{
    0%{
        background-position: 0px;
    }
    
    40%{
        background-position: 280px;
    }
  
   100%{
    background-position: 280px;
    }
    
}
  