@import "../../variables.scss";

#footer {
    width: 100%;
    height: calc(#{$footer-height} - 1px);
    background-color: $primary;
    border-top: 1px solid white;
    color: white;

    #footer-content {
        width: 60%;
        max-width: 830px;
        height: 100%;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: space-between;
    }
}
