@import '../../variables.scss';

#account-activation{
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    background-color: $primary;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}