@import '../../variables.scss';

#home-frequent{
    width: 100%;
    display: flex;
    align-items: center;

    #left-arrow{
        left: 33px;
        img{
            transform: rotate(180deg);
        }
    }

    #right-arrow{
        right: 33px;
    }

    #left-arrow, #right-arrow{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: white;
        width: 42px;
        height: 42px;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }

        img{
            width: 25px;
        }
    }

    #section-1{
        position: relative;
        
        width: 90%;
        margin: auto;
        height: 380px;
        /*background-color: red;*/
        overflow: hidden;
        display: flex;
        align-items: center;
        #section-2{
            position: absolute;
            width: 300%;
            .card{
                width: calc(100% / 6);
                display: inline-block;
                
                .card-container{
                    width: 65%;
                    margin: auto;
                    background-color: #201D3A;
                    border: 1px solid #525254;
                    .top{
                        height: 55px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-bottom: 1px solid #525254;
                    }
                }
            }
        }
    }
}