@import '../../variables.scss';

#home-frequent{
    width: 100%;
    display: flex;
    align-items: center;

    #left-arrow{
        left: 35px;
        img{
            transform: rotate(180deg);
        }
    }

    #right-arrow{
        right: 35px;
    }

    #left-arrow, #right-arrow{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: white;
        width: 42px;
        height: 42px;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }

        img{
            width: 25px;
        }
    }

    #section-1{
        #section-1-left-gradient, #section-1-right-gradient{
            position: absolute;
            width: 100px;
            height: 100%;
            z-index: 1;
        }

        #section-1-left-gradient{
            left: 0;
            background-image: linear-gradient(to right, $primary 0%, #060325e6 40%, transparent 100%);
        }

        #section-1-right-gradient{
            right: 0;
            background-image: linear-gradient(to left, $primary 0%,  #060325e6  40%, transparent 100%);
        }

        position: relative;
        
        width: 88%;
        margin: auto;
        height: 380px;
        /*background-color: red;*/
        overflow: hidden;
        display: flex;
        align-items: center;
        #section-2{
            position: absolute;
            width: 300%;
            transition: transform 1s;
            
        }
    }
}

