
@import '../../variables.scss';

#home{
    color: white;
    background-color: $primary;
    background-image: url(../../assets/images/world.svg);
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 70px);
    width: 100%;
}