
@import '../../variables.scss';

#header{
    height: 70px;
    background-color: $primary;
    width: 100%;
    color: $base-white;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding-left: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    display: inline-flex;
    justify-content: space-between;

    #header-title{
        font-size: 28px;
        margin-left: 20px;
    }

    #header-list{
        /*display: inline-flex;*/
        font-size: 15px;
        margin: 0 40px;
        width: 450px;

        li{
            margin: 0 5px;

            &.active a{
                color: #5d6a82;
            }
        }

        .left{
            float: left;
        }

        .right{
            float: right;
        }
    }
}
