@import '../../../variables.scss';

#home-info{
    padding: 50px 0;
    min-height: 330px;
    display: flex;
    align-items: center;

    #home-info-container{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .home-info-card{
            width: 350px;
            height: 200px;
            padding: 10px;
            margin: 0 8px;
            background-color: white;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
        

            .top img{
                max-height: 60px;
            }
            .bottom{
                color: $primary;
                padding: 10px;
                text-align: center;
                font-weight: bold;
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    #home-info {
        #home-info-container{ 
            display: block;
            .home-info-card{
                margin: 10px auto;
            }
        }
    }
}